*.asv
*.m~
*.bak

slprj/
sccprj/
*_slprj/
*_grt_rtw/
*_ert_rtw/
rtw/

codegen/

*.prj
*.autosave

matlab_crash_dump.*
javaclasspath.txt
javamem.settings

*.mat

*.fig

*.mlx.autosave
*.mlx~ 

.vscode/


.DS_Store


Thumbs.db
